/vendor/
/node_modules/

/.env
/.env.*
!.env.example

/.phpunit.cache
/.phpunit.result.cache
/phpunit.xml

/.idea/
/.vscode/
/.fleet/
/.nova/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

/build/
/builds/
/stackd.phar
/dumps/

composer.phar
/auth.json

.phpactor.json
.php-cs-fixer.cache
.pint.cache
